@import url('"https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none; /* Optional: Removes underlines if needed */
    color: inherit; /* Optional: Matches the color of surrounding text */
}
html, body {
    height: 100%;  /* Ensure the body takes up full height */
    width: 100%;   /* Ensure the body takes up full width */
  }